<!-- FOOTER -->
<section class="module-xs bg-white-dark m-t-40">
      <div class="container">

        <div class="row multi-columns-row">

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-smile-o"></i>
              </div>
              <h4>Satisfait ou remboursé</h4>
              <p>Nous récupérons tous vos produits si vous n'êtes pas satisfait sous les 15 jours.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-truck"></i>
              </div>
              <h4>Livraison</h4>
              <p>Nous livrons sur rendez-vous et surtout sur votre balcon.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-credit-card"></i>
              </div>
              <h4>Paiment sécurisé</h4>
              <p>Solution de paiement simple et sécurisée, en partenariat avec Stripe</p>
            </div>
          </div>
          <!-- END ICONBOX -->

          <!-- ICONBOX -->
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="box-icon-left">
              <div class="icon-box-icon">
                <i class="fa fa-pagelines"></i>
              </div>
              <h4>Recyclage</h4>
              <p>Nous reprenons vos vieux meubles de balcons fièrement pour les recycler avec notre partenaire.</p>
            </div>
          </div>
          <!-- END ICONBOX -->

        </div>

      </div>
    </section>
      <div class="container-partenaire">
        <div class="row">
          <span class="col-lg-4 span-footer">
            <p style="color:black;font-size:20px">Une offre sélectionnée en partenariat avec:</p>
          </span>
          <div class="col-lg-">
            <%= image_tag('partenaire_1.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_2.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_3.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_4.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_5.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_6.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_7.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_8.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_9.png', class: 'image-responsive', style: 'max-width:100px;')%>

            <%= image_tag('partenaire_10.png', class: 'image-responsive', style: 'max-width:100px;')%>
          </div>
        </div>
      </div>


    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="widget">
              <div class="counter p-0 m-b-30">
                <h2 class="montserrat m-b-5">
                  <span class="counter-timer" data-from="0" data-to="500">0</span>
                </h2>
                <h5>Fans sur Facebook</h5>
              </div>
              <p> Du monde O'balcon a pour but de rendre votre vie urbaine plus agréable en offrant une large séléction de produits pour votre balcon. </p>
              <div>
                <ul class="social-icons social-icons-md social-icons-colored social-icons-round m-t-50">
                  <li><a href="https://www.facebook.com/dumondeobalcon/?fref=ts" target="_blank" class="bg-facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="bg-twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--  -->

          <!-- Pinterest WIDGET -->
          <div class="col-sm-3">
            <div class="widget">
              <h6 class="montserrat text-uppercase bottom-line">Inspiration Pinterst</h6>
            <a data-pin-do="embedBoard" data-pin-lang="fr" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="100" href="https://www.pinterest.com/pimpmybalco0551/pimp-my-balcony/"></a>
            </div>
          </div>
          <!-- END TWITTER WIDGET -->

          <!-- RECENT POSTS WIDGET -->
          <!-- END RECENT POSTS WIDGET -->

          <!-- CONTACT WIDGET -->
          <div class="col-sm-3">
            <div class="widget">
              <h6 class="montserrat text-uppercase bottom-line">Contactez Nous</h6>
              <address class="map-background">
                <p>Du Monde O Balcon, 135 Rue Sadi Carnot, 59790 Ronchin</p>
                Téléphone: 06 73 60 69 69 / 06 22 11 87 73<br>
                E-mail: <a href="mailto:dumondeobalcon@gmail.com">dumondeobalcon@gmail.com</a>
              </address>
            </div>
          </div>
          <!-- END CONTACT WIDGET -->

        </div><!-- .row -->
				<div class="copyright">

					<div class="row">

						<div class="col-sm-6">
							<p class="m-0">
								<a href="#">DumondeO'balcon</a>, ©2017 DumondeO'balcon - Tous droits réservés.
							</p>
						</div>

						<div class="col-sm-6">
							<div class="text-right">
								<a href="#top" class="scroll-top"><i class="fa fa-level-up"></i></a>
							</div>
						</div>

					</div><!-- .row -->

				</div>

			</div>
		</footer>
		<!-- END FOOTER -->
