<div class="wrapper">

    <!-- HERO -->
    <section id="hero" class="module-hero bg-black-alfa-40 color-white parallax" data-background="<%= image_path('service-banner.jpg')%>" style="background-image: none; background-attachment: scroll; background-size: auto auto;" >

      <!-- HERO TEXT -->
      <div class="hero-caption">
        <div class="hero-text">

          <div class="container">

            <div class="row">
              <div class="col-sm-12 text-center">
                <h1 class="text-uppercase text-xl montserrat m-b-15">Besoin d'un service ?</h1>
<!--                 <p class="lead">We provide a absolute list of superior digital services.</p> -->
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
      <!-- END HERO TEXT -->
    <!-- END HERO -->

    <!-- FEATURES -->
    <section class="module">
      <div class="container">

        <div class="row">

          <div class="col-sm-4">
            <div class="feature">
              <%= image_tag('nettoyage.jpg', style: 'height:200px;widht:90px;')%>
              <h4>Nettoyage</h4>
              <a href="#" class="btn btn-lg btn-link btn-base">En savoir plus ›</a>
            </div>
            <div class="text-center"><%= image_tag('frizbiz.png')%></div>
          </div>

          <div class="col-sm-4">
            <div class="feature">
              <%= image_tag('installation.jpg', style: 'height:200px;widht:90px;')%>
              <h4>Installation / Montage de meubles</h4>
              <a href="#" class="btn btn-lg btn-link btn-base">En savoir plus ›</a>
            </div>
            <div class="text-center"><%= image_tag('frizbiz.png')%></div>
          </div>

          <div class="col-sm-4">
            <div class="feature">
              <%= image_tag('installation.jpg', style: 'height:200px;widht:90px;')%>
              <h4>Livraison de repas / Apéro</h4>
              <a href="#" class="btn btn-lg btn-link btn-base">En savoir plus ›</a>
            </div>
            <div class="text-center" style="width:60%;"><%= image_tag('deliveroo.png',class: 'image-responsive')%></div>
          </div>

        </div><!-- .row -->

      </div>
    </section>
    <!-- END FEATURES -->

    <!-- SERVICES -->

<section class="module divider-bottom">
  <div class="container">

    <div class="row m-b-70">
      <div class="col-sm-8 col-sm-offset-2">
        <h5 class="montserrat text-uppercase bottom-line">Un besoin spécifique ?</h5>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Décrivez-nous votre besoin</label>
            <input class="form-control" size="5" placeholder="J'ai besoin de...." type="email">
          </div>

          <button type="submit" class="btn btn-base">Soumettre</button>
        </form>
      </div>
    </div><!-- .row -->
  </div>
</section>
